---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "Milky-Way";
---

<Layout pageTitle={pageTitle}>
<h1 style="margin-top: 100px; margin-bottom: 50px;">primer post</h1>
<p>primeras cosas</p>


</Layout>