---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "Angexblog";
---

<Layout pageTitle={pageTitle}>
<h1 style="margin-top: 100px; margin-bottom: 50px;">Primer Capsula: Fragmentos del futuro pasado</h1>
<div style="margin-bottom: 10px;" class="gif">
    <img width="250" height="200" alt="angexblog" src="/juliaander.png"/>
</div>
<small>Julia Ander</small>
<p style="margin-top: 30px;">En la primera capsula que se denomina: Fragmentos del futuro pasado vemos a un grupo de buscadores de misterios yendo a encontrar algo que los arruinaría para el resto de la vida, el encuentro con "el materia", un ente maligno que a medida que transcurra la capsula nos damos cuenta de su historia. Por otro lado es la historia de la "secta del olvido", una de las tantas sectas que se desarrollan en Angexia. </p>
<p>También es la historia de Julia Ander, hija de Gerardo Peuze, líder de la secta del olvido. La historia de Julia conecta las 2 historias. Es un personaje importante. </p>


</Layout>

<style>
    /* small */
    small {
        background: rgb(101,46,91);
background: radial-gradient(circle, rgba(101,46,91,1) 0%, rgba(0,0,0,1) 100%);
        color: #fdebf3;
        border-radius: 6px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 600;
        padding: 0.3em 0.6em 0.2em;
       margin-left: 230px;
        justify-content: center;
    
    }
    </style>