---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
const pageTitle = "Conceptos";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="305" height="169" alt="RaccoonLaptopGif" src="/kojot.png"/>
    </div>
    <h2>Contributions</h2>
    <ul role="list" class="link-card-grid">
        <Card
            href="https://github.com/"
            image="https://media.giphy.com/media/11Cn7h5PA8cyiY/giphy.gif"
            title="Open-source 1"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
        <Card
            href="https://github.com/"
            image="https://media.giphy.com/media/11Cn7h5PA8cyiY/giphy.gif"
            title="Open-source 2"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
    </ul>
    <h2>Projects</h2>
    <ul role="list" class="link-card-grid">
        <Card
            href="https://github.com/"
            image="https://media.giphy.com/media/clffiicvvmhXrYaAs8/giphy.gif"
            title="Project 1"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
        <Card
            href="https://github.com/"
            image="https://media.giphy.com/media/clffiicvvmhXrYaAs8/giphy.gif"
            title="Project 2"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
        <Card
            href="https://github.com/"
            image="/GitHub.webp"
            title="Project 3"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
        <Card
            href="https://github.com/"
            image="/GitHub.webp"
            title="Project 4"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
    </ul>
</Layout>
